##########################
#        开发环境         #
##########################
**_pycache__**
.vscode
.venv
.env


##########################
#          数据          #
##########################
data
logs
**.db


##########################
#         镜像           #
##########################
docker_images


##########################
#        其他文件         #
##########################
部署文件
tmp
# data_generator
jobs
web
config.yml
migrations